{{#MW_Headword}}
<div class="mw-section">
  <h3>📚 Merriam-Webster</h3>

  <div class="mw-basic-info">
    <h4 class="mw-headword">{{MW_Headword}}</h4>
    {{#MW_PartOfSpeech}}<span class="mw-pos">/{{MW_PartOfSpeech}}/</span>{{/MW_PartOfSpeech}}
  </div>

  {{#MW_Definitions}}
  <div class="mw-definitions">
    <h5>🎯 Definitions</h5>
    <div class="mw-definition-text">{{MW_Definitions}}</div>
  </div>
  {{/MW_Definitions}}

  {{#MW_LearnerDefinitions}}
  <div class="mw-learner-definitions">
    <h5>🎓 Learner Definitions</h5>
    <div class="mw-learner-text">{{MW_LearnerDefinitions}}</div>
  </div>
  {{/MW_LearnerDefinitions}}

  {{#MW_Examples}}
  <div class="mw-examples">
    <h5>💬 Examples</h5>
    <div class="mw-examples-text">{{MW_Examples}}</div>
  </div>
  {{/MW_Examples}}

  {{#MW_Synonyms}}
  <div class="mw-synonyms">
    <h5>🔗 Synonyms</h5>
    <div class="mw-synonym-list">{{MW_Synonyms}}</div>
  </div>
  {{/MW_Synonyms}}

  {{#MW_Antonyms}}
  <div class="mw-antonyms">
    <h5>⚡ Antonyms</h5>
    <div class="mw-antonym-list">{{MW_Antonyms}}</div>
  </div>
  {{/MW_Antonyms}}

  {{#MW_Inflections}}
  <div class="mw-inflections">
    <h5>🔄 Inflections</h5>
    <div class="mw-inflection-list">{{MW_Inflections}}</div>
  </div>
  {{/MW_Inflections}}

  {{#MW_Stems}}
  <div class="mw-stems">
    <h5>🌱 Word Forms</h5>
    <div class="mw-stems-list">{{MW_Stems}}</div>
  </div>
  {{/MW_Stems}}

  {{#MW_Etymology}}
  <div class="mw-etymology">
    <h5>📜 Etymology</h5>
    <div class="mw-etymology-text">{{MW_Etymology}}</div>
  </div>
  {{/MW_Etymology}}

  {{#MW_FirstKnownUse}}
  <div class="mw-first-use">
    <h5>⏰ First Known Use</h5>
    <div class="mw-first-use-text">{{MW_FirstKnownUse}}</div>
  </div>
  {{/MW_FirstKnownUse}}
</div>
{{/MW_Headword}}